<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/main/styles.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header><%- include("../views/includes/nav.ejs") %></header>
    <main>
      <h1 class="heading"><%= msg %></h1>
      <% if (isAuthenticated) { %>
      <h2>You are logged in!</h2>
      <% } else { %>
            <h2 style="text-align: center;">Cloud and Web Service Software Engineering</h2>
            <h3 style="text-align: center;"> [17M11CS121]</h3>
            <h3 style="text-align: center;"> Project Based Learning</h3>
        <% } %>
    </main>
    <footer></footer>
  </body>
</html>
